<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QBLOGINCLASS</key>
	<dict>
		<key>className</key>
		<string>AGLoginViewController</string>
		<key>initMethodName</key>
		<string>init</string>
		<key>initPropertyValue</key>
		<array/>
		<key>propertyKeys</key>
		<dict/>
		<key>description</key>
		<string>登录对应的类</string>
	</dict>
	<key>QBTABCLASS</key>
	<dict>
		<key>classes</key>
		<array>
			<dict>
				<key>className</key>
				<string>KDHomeViewController</string>
				<key>initMethodName</key>
				<string>init</string>
				<key>initPropertyValue</key>
				<array/>
				<key>propertyKeys</key>
				<dict>
					<key>tabTitle</key>
					<string>首页</string>
					<key>tabImageNormal</key>
					<string>tab_icon_home_normal</string>
					<key>tabImageSelected</key>
					<string>tab_icon_home_selected</string>
					<key>shouldCloseAnimating</key>
					<true/>
				</dict>
				<key>description</key>
				<string>tab首页</string>
			</dict>
			<dict>
				<key>className</key>
				<string>KDNewsViewController</string>
				<key>initMethodName</key>
				<string>init</string>
				<key>initPropertyValue</key>
				<array/>
				<key>propertyKeys</key>
				<dict>
					<key>tabTitle</key>
					<string>资讯</string>
					<key>tabImageNormal</key>
					<string>tab_icon_news_normal</string>
					<key>tabImageSelected</key>
					<string>tab_icon_news_selected</string>
					<key>shouldCloseAnimating</key>
					<false/>
				</dict>
				<key>description</key>
				<string>tab资讯</string>
			</dict>
			<dict>
				<key>className</key>
				<string>KDMineViewController</string>
				<key>initMethodName</key>
				<string>init</string>
				<key>initPropertyValue</key>
				<array/>
				<key>propertyKeys</key>
				<dict>
					<key>tabTitle</key>
					<string>首页</string>
					<key>tabImageNormal</key>
					<string>tab_icon_mine_normal</string>
					<key>tabImageSelected</key>
					<string>tab_icon_mine_selected</string>
					<key>shouldCloseAnimating</key>
					<true/>
				</dict>
				<key>description</key>
				<string>tab我的</string>
			</dict>
		</array>
		<key>description</key>
		<string>TAB页面配置</string>
	</dict>
	<key>QBERRORVIEW</key>
	<dict>
		<key>ERROR_Network_eg</key>
		<dict>
			<key>errorImage</key>
			<string></string>
			<key>errorMessage</key>
			<string></string>
			<key>errorMessageColor</key>
			<string></string>
			<key>errorMessageFont</key>
			<integer>0</integer>
			<key>errorPadding</key>
			<integer>0</integer>
		</dict>
		<key>ERROR_Network_Kuanlu</key>
		<dict>
			<key>errorImage</key>
			<string>orderlist_empty_image</string>
			<key>errorMessage</key>
			<string>网络已被劫走，努力寻找中...\n请下拉刷新试试</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>14</integer>
			<key>errorPadding</key>
			<integer>35</integer>
		</dict>
		<key>ERROR_Empty_Kuanlu</key>
		<dict>
			<key>errorImage</key>
			<string>error_image_empty</string>
			<key>errorMessage</key>
			<string>抱歉~暂时还没有内容哦~</string>
			<key>errorMessageColor</key>
			<string>0xFEA45E</string>
			<key>errorMessageFont</key>
			<integer>12</integer>
			<key>errorPadding</key>
			<integer>10</integer>
		</dict>
		<key>ERROR_Empty_Kuanlu_Message</key>
		<dict>
			<key>errorImage</key>
			<string>error_image_empty</string>
			<key>errorMessage</key>
			<string>抱歉~暂时还没有内容通知哦~</string>
			<key>errorMessageColor</key>
			<string>0xFEA45E</string>
			<key>errorMessageFont</key>
			<integer>12</integer>
			<key>errorPadding</key>
			<integer>10</integer>
		</dict>
		<key>ERROR_Empty_Kuanlu_BankList</key>
		<dict>
			<key>errorImage</key>
			<string>orderlist_empty_image</string>
			<key>errorMessage</key>
			<string>您暂时还没绑卡~\n请点击右上角按钮绑定卡片</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>14</integer>
			<key>errorPadding</key>
			<integer>35</integer>
		</dict>
		<key>ERROR_Empty_ES_ShoppingCart</key>
		<dict>
			<key>errorImage</key>
			<string>shoppingCart_empty_image</string>
			<key>errorMessage</key>
			<string>购物车竟然空空如也</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>18</integer>
			<key>errorPadding</key>
			<integer>39</integer>
		</dict>
		<key>ERROR_Empty_ES_ShoppingCartNew</key>
		<dict>
			<key>errorImage</key>
			<string>shoppingCart_empty_new_image</string>
			<key>errorMessage</key>
			<string>购物车竟然空空如也~</string>
			<key>errorMessageColor</key>
			<string>0x666666</string>
			<key>errorMessageFont</key>
			<integer>12</integer>
			<key>errorPadding</key>
			<integer>31</integer>
		</dict>
		<key>ERROR_Empty_ES_AddressList</key>
		<dict>
			<key>errorImage</key>
			<string>addresslist_empty_image</string>
			<key>errorMessage</key>
			<string>还没有收货地址，快去新建吧</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>18</integer>
			<key>errorPadding</key>
			<integer>44</integer>
		</dict>
		<key>ERROR_Empty_ES_OrderList</key>
		<dict>
			<key>errorImage</key>
			<string>orderlist_empty_image</string>
			<key>errorMessage</key>
			<string>您还没有相关订单</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>18</integer>
			<key>errorPadding</key>
			<integer>37</integer>
		</dict>
		<key>ERROR_Empty_ES_GoodsDetail</key>
		<dict>
			<key>errorImage</key>
			<string>goods_detail_empty_image</string>
			<key>errorMessage</key>
			<string>很抱歉，您查看的宝贝不存在，可能已下架~</string>
			<key>errorMessageColor</key>
			<string>0x333333</string>
			<key>errorMessageFont</key>
			<integer>12</integer>
			<key>errorPadding</key>
			<integer>23</integer>
		</dict>
		<key>ERROR_Network_ES</key>
		<dict>
			<key>errorImage</key>
			<string>common_error_image</string>
			<key>errorMessage</key>
			<string>网络已被劫走，努力寻找中...\n请下拉刷新试试</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>14</integer>
			<key>errorPadding</key>
			<integer>35</integer>
		</dict>
		<key>ERROR_Empty_ES</key>
		<dict>
			<key>errorImage</key>
			<string>common_error_image</string>
			<key>errorMessage</key>
			<string>暂时还没有相关数据哦~</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>14</integer>
			<key>errorPadding</key>
			<integer>35</integer>
		</dict>
		<key>ERROR_Empty_ES_GrouponList</key>
		<dict>
			<key>errorImage</key>
			<string>grouponList_empty_image</string>
			<key>errorMessage</key>
			<string>您还没有相关的订单</string>
			<key>errorMessageColor</key>
			<string>0x666666</string>
			<key>errorMessageFont</key>
			<integer>12</integer>
			<key>errorPadding</key>
			<integer>35</integer>
		</dict>
		<key>ERROR_Empty_ES_LogisticsNull</key>
		<dict>
			<key>errorImage</key>
			<string>logistics_null_static_image</string>
			<key>errorMessage</key>
			<string>该订单为无需物流发货</string>
			<key>errorMessageColor</key>
			<string>0x333333</string>
			<key>errorMessageFont</key>
			<integer>15</integer>
			<key>errorPadding</key>
			<integer>40</integer>
		</dict>
		<key>ERROR_Empty_ES_SFNotifice</key>
		<dict>
			<key>errorImage</key>
			<string>logistics_sf_notice_image</string>
			<key>errorMessage</key>
			<string>此件宝贝为顺丰承运，请您暂在顺丰官网自行查看\n给您带来不便，敬请谅解！</string>
			<key>errorMessageColor</key>
			<string>0x333333</string>
			<key>errorMessageFont</key>
			<integer>13</integer>
			<key>errorPadding</key>
			<integer>13</integer>
		</dict>
		<key>ERROR_Empty_ES_DT</key>
		<dict>
			<key>errorImage</key>
			<string>distribution_team_empty_image</string>
			<key>errorMessage</key>
			<string>还没有队员呢，快邀请好友注册下单吧</string>
			<key>errorMessageColor</key>
			<string>0x999999</string>
			<key>errorMessageFont</key>
			<integer>14</integer>
			<key>errorPadding</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>QBLOGINIGNORETOROOT</key>
	<array>
		<string>ESProductDetailViewController</string>
		<string>ESWebsiteViewController</string>
		<string>ESShopDetailViewController</string>
		<string>ESGrouponDetailViewController</string>
	</array>
</dict>
</plist>
